{# NAVBAR BEGIN #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-sevice">
	<a class="navbar-brand" href="#"><i class="fa fa-bars fa-lg"></i>{{ main.menu }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div id="navbarColor01" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/home"><i class="fa fa-home fa-lg"></i>{{ main.home }}
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/signup"><i class="fa fa-user-plus fa-lg"></i>{{ main.signup }}</a>
			</li>
			{% if user %}
			<li class="nav-item">
				<a class="nav-link" href="/logout"><i class="fa fa-sign-out fa-lg"></i>{{ main.logout }}</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="/login"><i class="fa fa-sign-in fa-lg"></i>{{ main.login }}</a>
			</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="/users"><i class="fa fa-users fa-lg"></i>{{ main.users }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about"><i class="fa fa-info-circle fa-lg"></i>{{ main.about }}</a>
			</li>
		</ul>

		<form class="form-inline my-2 my-lg-0">
			<input id="searchMain" class="form-control mr-sm-2" placeholder="{{ main.search }}" type="text">
			<button id="searchMainButton" class="btn btn-secondary my-2 my-sm-0" type="submit">
				<i class="fa fa-search fa-lg"></i> {{ main.search }}
			</button>
		</form>

	</div>
</nav>

{# NAVBAR END #}