<!doctype html>
<html>

<head>
        <title>simple example</title>

        <link href="stylesheets/jquery-ui.css" rel="stylesheet">
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/style.css" rel="stylesheet">

</head>

<body>
        <h3>Simple example of main.html</h3>
        <br>

        <p>start views/layouts/main.html</p>

        {% block body %} {% endblock %}

        <p>end views/layouts/main.html</p>

        <br>
</body>

<script src="javascripts/jquery-3.3.1.js"></script>
<script src="javascripts/jquery-ui.js"></script>
<script src="javascripts/bootstrap.js"></script>

</html>