<!DOCTYPE html>
<html lang="en">

<head>
        <title>Zabava for you</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/jquery-ui.css" rel="stylesheet">
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/w3.css" rel="stylesheet">
        <link href="stylesheets/w3-colors-2017.css" rel="stylesheet">
        <link href="stylesheets/font-awesome.css" rel="stylesheet">

        <!-- ZABAVACSS BEGIN -->
        <link href="stylesheets/zb-global.css" rel="stylesheet">
        <link href="stylesheets/zb-lang.css" rel="stylesheet">
        <link href="stylesheets/zb-logo.css" rel="stylesheet">
        <link href="stylesheets/zb-nav.css" rel="stylesheet">
        <link href="stylesheets/zb-login.css" rel="stylesheet">
        <link href="stylesheets/zb-signup.css" rel="stylesheet">
        <link href="stylesheets/zb-modal-rtv-password.css" rel="stylesheet">
        <!-- ZABAVACSS END -->

</head>

<header>

        {# LOGOBAR BEGIN #} {% include "partials/logobar.html" %} {# LOGOBAR END #}

        <br> {# NAVBAR BEGIN -->#} {% include "partials/navbar.html" %} {# NAVBAR END #}

        <h1>{{ title }}</h1>

        <br> {% if user %}
        <h4>main.html: User = {{ user }}</h4>
        {% endif %} {% if error %}
        <h4>main.html: Error = {{ error }}</h4>
        {% endif %} {% if user %}
        <h4>main.html: username = {% if user.personalData.name %} {{ user.personalData.name }} {% else %} {{ user.username }}
                {% endif %}</h4>
        {% endif %}

        <br>

        <!-- Breadcrumbs BEGIN -->

        <!--
        <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
        </ol>
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active">Library</li>
        </ol>
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                        <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active">Data</li>
        </ol>

        <br>
        -->
        <!-- Breadcrumbs END -->

        <br>


</header>

<body>

        {% block body %} {% endblock body %}

        <br> {# FOOTER BEGIN #} {% include "partials/footer.html" %} {# FOOTER END #}

</body>

<script src="javascripts/jquery-3.3.1.js"></script>
<script src="javascripts/jquery-ui.js"></script>
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/jquery.form.js"></script>

<!-- ZABAVA BEGIN -->
<script src="javascripts/zb-core-utils.js"></script>
<script src="javascripts/zb-init-logo.js"></script>
<script src="javascripts/zb-init-lang.js"></script>
<script src="javascripts/zb-init-nav.js"></script>
<script src="javascripts/zb-init-login-controller.js"></script>
<script src="javascripts/zb-init-form-validator.js"></script>
<script src="javascripts/zb-init-email-validator.js"></script>
<script src="javascripts/zb-init.js"></script>
<!-- ZABAVA END -->

</html>