<!DOCTYPE html>
<html lang="en">

<head>
        <title>Zabava for you</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/jquery-ui.css" rel="stylesheet">
        <link href="stylesheets/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/w3.css" rel="stylesheet">
        <link href="stylesheets/w3-colors-2017.css" rel="stylesheet">

        <!-- ZABAVA BEGIN -->
        <link href="stylesheets/zb-global.css" rel="stylesheet">
        <link href="stylesheets/zb-lang.css" rel="stylesheet">
        <link href="stylesheets/zb-logo.css" rel="stylesheet">
        <!-- ZABAVA END -->

</head>

<header>


        <!-- LOGO BEGIN -->

        <div id="main-div-logo" class="container-fluid">
                <div class="row">
                        <div class="col-sm-3">
                                <a href="/">
                                        <img src="images/Zabava_08.png" class="img-logo" alt="Zabava Logo">
                                </a>
                        </div>
                        <div class="col-sm-3 w3-border-right grid-separator-color">
                                <a href="tel:+7 (926) 999-59-70">+7 (926) 999-59-70</a>
                                <br>
                                <!--
                                <a ajaxform="1" class="callback" href="#" js_max_width="600" section="278">Request a call back</a>
                                -->
                        </div>
                        <div class="col-sm-3 w3-border-right grid-separator-color"></div>
                        <div class="col-sm-3">.col-sm-3 4</div>
                </div>
        </div>

        <!-- LOGO END -->


        <h1>{{ title }}</h1>

        <br>
        <h4>main.html: User = {{ user }}</h4>
        <h4>main.html: Error = {{ error }}</h4>
        <h4>main.html: username = {{ main.username }}</h4>
        <br>
        <div id="main-div-lang" class="div-lang">
                <select id="main-select-lang" class="select-lang" lang="{{main.currentLang}}">
                        <option value="en">English</option>
                        <option value="es">Espanol</option>
                        <option value="ru">Русский</option>
                </select>
        </div>

        <br>


        <!-- Breadcrumbs BEGIN -->

        <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
        </ol>
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active">Library</li>
        </ol>
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                        <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                        <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active">Data</li>
        </ol>

        <br>

        <!-- Breadcrumbs END -->
        
        <!-- NAV BEGIN -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="#">Home
                                                <span class="sr-only">(current)</span>
                                        </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" placeholder="Search" type="text">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                </div>
        </nav>

        <!-- NAV END -->

        <br>


</header>

<body>



        <h3>Simple example of main.html</h3>
        <br>

        <p>start views/layouts/main.html</p>

        {% block body %} {% endblock body %}

        <p>end views/layouts/main.html</p>

        <br>

        <div id="footer">
                {% block footer %} &copy; Copyright 2008 by
                <a href="http://domain.invalid/">you</a>
                {% endblock footer %}
        </div>

</body>

<script src="javascripts/jquery-3.3.1.js"></script>
<script src="javascripts/jquery-ui.js"></script>
<script src="javascripts/bootstrap.js"></script>

<!-- ZABAVA BEGIN -->
<script src="javascripts/zb-core-utils.js"></script>
<script src="javascripts/zb-select-lang.js"></script>
<script src="javascripts/zb-init.js"></script>
<!-- ZABAVA END -->

</html>