{% extends "layouts/main.html" %}

{% block body %}

<p> start views/home.html</p>

<br>

<!-- ALL EVENTS BEGIN -->
<div class="container-fluid text-center">
        <div class="row content">

                <!-- SIDEBAR BEGIN -->
                <div class="col-sm-2 sidenav">

                        <div id="div_period_list" class="container">
                                <ul id="ul_period_list" class="list-group">
                                </ul>
                        </div>
                </div>
                <!-- SIDEBAR END -->

                <!-- EVENT LIST BEGIN -->
                <div class="col-sm-8 text-left">
                        <h1>Welcome</h1>
                        <p>Lorem ipsum dolor sit ... </p>
                        <hr>
                        <div class="d-flex flex-row-reverse">
                                <a id="home_button_new_event" class="btn btn-lg btn-success" href="#">
                                        <i class="fa fa-plus"></i> {{ home.new }}</a>
                        </div>
                        <br>

                        <div id="div_event_list" class="container">
                                <ul id="ul_event_list" class="list-group">
                                </ul>

                        </div>
                </div>
                <!-- EVENT LIST END -->

                <!-- ADVERTISING LIST BEGIN -->
                <div class="col-sm-2 sidenav">
                        <div class="well">
                                <p>ADS</p>
                        </div>
                        <div class="well">
                                <p>ADS</p>
                        </div>
                </div>
                <!-- ADVERTISING LIST END -->

        </div>
</div>
<!-- ALL EVENTS END -->

<br>

<!-- PAGINATION BEGIN -->
<div class="container">
        <ul id="ul_ev_list_pagination" class="pagination justify-content-center" style="margin:20px;">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
</div>
<!-- PAGINATION END -->

<br>

<p>end views/home.html</p>

{% endblock body %}