body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


option
{
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}


option:hover
{
    background-color: #eee;
}

/* Language bar BEGIN */

.select-lang
{
    width: 150px;
}

.select-lang__icon-flag-es
{
    background: url('../images/flag-es.png') no-repeat;
    /* background-size: 30px; */
    background-size: auto 90%; 
    padding-left: 30px;
    background-position: 0 1px;
}

.select-lang__icon-flag-en
{
    background: url('../images/flag-en.png') no-repeat;
    background-size: 30px;
    padding-left: 30px;
    background-position: 0 1px;
}

.select-lang__icon-flag-ru
{
    background: url('../images/flag-ru.png') no-repeat;
    background-size: 30px;
    padding-left: 30px;
    background-position: 0 1px;
}

/* Language bar END */

select.icon-ok,

select.icon-error

{
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 16px;
    background-position: 0 1px;
}


