
/*----------------------------------------------*/
/* Global BEGIN */


header {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;    
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    
    a {
    color: #00B7FF;
    }

    :root {
        --main-color-primrose-yellow:rgb(240, 210, 120);
        --main-color-primrose-yellow-dark:rgb(230, 179, 25);
        --main-color-nav-hover:rgb(139, 43, 0);
        --main-color-nav-hover-dark:rgb(102, 32, 0);
    }
    

/* Global END */
/*----------------------------------------------*/
    