
/*----------------------------------------------*/
/* Logo BEGIN */

.grid-separator-color {
  border-color: var(--main-color-primrose-yellow) !important; 
}

.img-logo {
    max-width: 100%;
    height: auto;
}

/*.w3-2017-primrose-yellow
  {color:#000;background-color:#f6d155}
*/

a[href^="tel"] {
    color: rgb(139, 43, 0);
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.main-user-div {
  color: red;
}

.main-user-div_display {
  display: block;
}

.main-user-div_hide {
  display: none;
}

.main-user-div:link {
  background-color: yellow;
}

.main-user-div:hover {
  background-color: lightgreen;
}

.main-user-div:active {
  background-color: hotpink;
} 

/* Logo END */
/*----------------------------------------------*/
    