/*----------------------------------------------*/
/* Nav bar BEGIN */

.border-sevice {
    border-top-left-radius: 10px;
}

.navbar-nav .nav-link:hover {
    color: var(--main-color-nav-hover-dark) !important; 
    background-color: var(--main-color-primrose-yellow-dark) !important; 
    border-radius: 5px;
}

.nav-link_active {
    color: var(--main-color-nav-hover) !important; 
    background-color: var(--main-color-primrose-yellow) !important; 
    border-radius: 5px;
    font-weight: bold;
}

/* Nav bar END */
/*----------------------------------------------*/
    
    